body {
    font-family: Arial, sans-serif;
    font-weight: normal;
}

#main {
    position: absolute;
    background-image: url('FLL2013_Score_Sheet_Field.png');
    background-repeat: no-repeat;
    width: 768px;
    height: 950px;
    top: 0px;
    left: 0px;
    z-index: 0;
}

#version {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 0.4em;
    text-decoration: underline;
}

.ScoreBox {
    position: absolute;
    width: 50px;
    height: 20px;
    text-align: center;
}

.YesNoBox {
    position: absolute;
    width: 50px;
    height: 20px;
}

.SelectionBox {
    position: absolute;
    width: 100px;
    height: 20px;
}

#timerText {
    position: absolute;
    color: red;
    line-height: 1;
    font-size: 5em;
    width: 175px;
    height: 75px;
    text-align: right;
    top: 5px;
    left: 5px;
    padding: 0px;
    margin: 0px;
}

#startStopButton {
    position: absolute;
    width: 75px;
    height: 30px;
    top: 30px;
    left: 190px;
}

#countUp {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 75px;
    left: 190px;
    display: inline;
    font-size: 0.75em;
}

#countDown {
    position: absolute;
    width: 100px;
    height: 25px;
    top: 100px;
    left: 190px;
    display: inline;
    font-size: 0.75em;
}

#resetButton {
    position: absolute;
    width: 75px;
    height: 30px;
    top: 30px;
    left: 500px;
}

#scoreBlock {
    position: absolute;
    width: 200px;
    height: 50px;
    text-align: center;
    color: blue;
    font-size: 2em;
    top: 22px;
    left: 290px;
}

#scoreText {
    display: inline;
}

.BoxLabel {
    position: absolute;
    border: 1px solid black;
    height: 20px;
    width: 20px;
    border-radius: 20px;
    text-align: center;
    margin: 0px;
    padding: 0px;
    background-color: white;
    font-size: 0.75em;
    top: 10px;
    left: -10px;
}

.BoxTitle {
    position: absolute;
    top: 0px;
    left: 20px;
    font-weight: bold;
    font-size: 0.9em;
}

.BoxItem1 {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 0.75em;
}

.BoxItem2 {
    position: absolute;
    top: 40px;
    left: 30px;
    font-size: 0.75em;
}

.BoxItem3 {
    position: absolute;
    top: 60px;
    left: 30px;
    font-size: 0.75em;
}

.BoxItem4 {
    position: absolute;
    top: 80px;
    left: 30px;
    font-size: 0.75em;
}

.BoxItem5 {
    position: absolute;
    top: 100px;
    left: 30px;
    font-size: 0.75em;
}

#box1 {
    position: absolute;
    top: 350px;
    left: 45px;
    width: 320px;
    height: 65px;
    border: 1px solid black;
    background-color: white;
}

#treeBranchLower {
    top: 20px;
    left: 255px;
}

#treeCableModelsUpright {
    top: 40px;
    left: 255px;
}

#box2 {
    position: absolute;
    top: 425px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#houseLifted {
    top: 20px;
    left: 255px;
}

#box3 {
    position: absolute;
    top: 480px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#progressPointerNumberOfColorsReached {
    top: 20px;
    left: 255px;
}

#box4 {
    position: absolute;
    top: 535px;
    left: 45px;
    width: 320px;
    height: 65px;
    border: 1px solid black;
    background-color: white;
}

#baseIsolationWestUndamaged {
    top: 20px;
    left: 255px;
}

#baseIsolationEastDamaged {
    top: 40px;
    left: 255px;
}

#box5 {
    position: absolute;
    top: 610px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#grayBuildingUnitsInLtGreen {
    top: 20px;
    left: 255px;
}

#box6 {
    position: absolute;
    top: 665px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#supplyTruckInYellow {
    top: 20px;
    left: 255px;
}

#box7 {
    position: absolute;
    top: 720px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#ambulanceInYellowWheelsTouchingMat {
    top: 20px;
    left: 255px;
}

#box8 {
    position: absolute;
    top: 775px;
    left: 45px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#cargoPlaneLocation {
    top: 20px;
    left: 205px;
}

#box9 {
    position: absolute;
    top: 830px;
    left: 45px;
    width: 320px;
    height: 85px;
    border: 1px solid black;
    background-color: white;
}

#penaltyTouchSprawl {
    top: 20px;
    left: 255px;
}

#penaltySmallJunk {
    top: 40px;
    left: 255px;
}

#penaltyLargeJunk {
    top: 60px;
    left: 255px;
}

#box10 {
    position: absolute;
    top: 350px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#runwayClearExceptWavesOrPlane {
    top: 20px;
    left: 255px;
}

#box11 {
    position: absolute;
    top: 405px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#evacutationSignUp {
    top: 20px;
    left: 255px;
}

#box12 {
    position: absolute;
    top: 460px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#tallestBuildingInPink {
    top: 20px;
    left: 255px;
}

#box13 {
    position: absolute;
    top: 515px;
    left: 410px;
    width: 320px;
    height: 125px;
    border: 1px solid black;
    background-color: white;
}

#familyTogether {
    top: 20px;
    left: 255px;
}

#peopleWithWater {
    top: 40px;
    left: 255px;
}

#peopleInYellow {
    top: 60px;
    left: 255px;
}

#peopleInRed {
    top: 80px;
    left: 255px;
}

#petsWithPeople {
    top: 100px;
    left: 255px;
}

#box14 {
    position: absolute;
    top: 650px;
    left: 410px;
    width: 320px;
    height: 65px;
    border: 1px solid black;
    background-color: white;
}

#suppliesInYellow {
    top: 20px;
    left: 255px;
}

#suppliesInRed {
    top: 40px;
    left: 255px;
}

#box15 {
    position: absolute;
    top: 725px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#robotInRed {
    top: 20px;
    left: 255px;
}

#box16 {
    position: absolute;
    top: 780px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#furthestRegionEntered {
    top: 20px;
    left: 205px;
}

#box17 {
    position: absolute;
    top: 835px;
    left: 410px;
    width: 320px;
    height: 45px;
    border: 1px solid black;
    background-color: white;
}

#tsunamiWavesTouchingMat {
    top: 20px;
    left: 255px;
}

